:root {

  --md-primary-fg-color: #1D5560;
  --md-accent-fg-color: #268282;
  --md-default-fg-color--light: #D5F4F4;
  --md-typeset-color: #1D5560;
  --md-typeset-a-color: #50C5B6;
}
:root > *{
  ---md-footer-fg-color: #1D5560;
}

.md-typeset h1 {
  color: rgb(10,60,70);
}


.md-typeset .admonition.success,
    .md-typeset details.success{
      border-color: rgb(26,164,105) ;
    }

    /*Tip Box */

    .md-typeset .admonition.tip,
    .md-typeset details.tip{
      border-color: rgb(38,130,130);
      }
    .md-typeset .tip > .admonition-title,
    .md-typeset .tip > summary {
     background-color: rgba(38, 130,130, 0.6);
     border-color: rgb(38,130,130);
     color: rgb(10,60,70);
    }

  /* help Box */
    .md-typeset .admonition.help,
    .md-typeset details.help  {
      border-color: rgb(80,197,182);
      }
      .md-typeset .help > .admonition-title,
      .md-typeset .help > summary {
       background-color: rgba(56, 244,208, 0.3);
       border-color: rgb(80,197,182);
       color: rgb(10,60,70);
     }

    /* Beispiel/Info Box */

    .md-typeset .admonition.info,
    .md-typeset details.info  {
      border-color: rgb(56,244,208);
      }
      .md-typeset .info > .admonition-title,
      .md-typeset .info > summary {
       background-color: rgba(56, 244,208, 0.3);
       border-color: rgb(56,244,208);
       color: rgb(10,60,70);
     }
